
<div class="modal-content">
    <div class="modal-header">
        @*        <button class="close" data-dismiss="modal" area-hidden="true">X</button>*@
        <h4>Furniture added to cart</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt></dt>
            <dd>
            </dd>

            <dt>Result:</dt>
            <dd>Succesfull</dd>

        </dl>

        <div>
            @Html.ActionLink("Back to List", "Index", "DropDownCategory", null, new { @class = "btn btn-primary btn-lg" })

            @Html.ActionLink("To History", "Index", "UserOrderDetails", null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
</div>