@model FurnitureStore.Models.Furniture

<div class="modal-content">
    <div class="modal-header">
@*        <button class="close" data-dismiss="modal" area-hidden="true">X</button>*@
        <h4>Furniture added to cart</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt></dt>
            <dd>
                <img class="img_show" src="~/Content/images/@Html.DisplayFor(model => model.images)" alt="Furniture" />
            </dd>

            <dt>Title:</dt>
            <dd>@Html.DisplayFor(model => model.furnitureTitle)</dd>

            <dt>Price</dt>
            <dd>@Html.DisplayFor(model => model.furniturePrice)$</dd>
        </dl>

        <div>
            @Html.ActionLink("Back to List", "Index", "DropDownCategory", null, new { @class = "btn btn-primary btn-lg" })

            @Html.ActionLink("To Shopping cart", "Index", "UserShoppingCarts", null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
</div>